.button {
  background: #f4e041;
  padding: 6px 23px;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);

  &:disabled {
    background-color: #b4b4b4;
    cursor: not-allowed;
    color: white;
  }
}
