@import "../../index.scss";

.button {
  background: $primary-color;
  padding: 6px 23px;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  color: $main-text-color;

  &:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
    color: white;
  }
}
