@import "../../index.scss";

.users {
  position: relative;
  text-align: center;
  margin-bottom: 140px;

  .title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 50px;
  }
  .users-grid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 29px;
    margin-bottom: 50px;

    @include medium {
      grid-template-columns: 29% 29% 29%;

      justify-content: center;
    }
    @include small {
      grid-template-columns: 45% 45%;
      gap: 16px;
      justify-content: center;
    }
    @include verySmall {
      grid-template-columns: 90%;
      gap: 20px;
    }
  }
}
